.profile__submit-button {
  width: 410px;
  height: 45px;
  background: #3456F3;
  border-radius: 3px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  border: none;
}

.profile__submit-button:focus {
  outline: none;
}

.profile__submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
