.movie-card__delete-button {
  background: url(../../../images/delete-fav-film.svg);
  width: 12px;
  height: 12px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  grid-row: 2;
  grid-column: 2;
}

.movie-card__delete-button:focus {
  outline: none;
}

.movie-card__delete-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
