.tech__tags-list-item {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: center;
  width: 90px;
  border-radius: 10px;
  background-color: #E8E8E8;
  display: inline-block;
  padding: 21px 0;
  margin: 10px 10px 0 0;
}

.tech__tags-list-item:last-of-type {
  margin: 10px 0 0 0;
}

@media screen and (max-width: 768px) {
  .tech__tags-list-item {
    width: 84px;
    font-size: 12px;
    line-height: 15px;
  }
}
