.searchform__wrapper {
  display: flex;
  max-width: 1140px;
  position: relative;
  border-bottom: 1px solid #E8E8E8;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0 auto;
  align-items: center;
}
