.tech__tags-list {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .tech__tags-list {
    width: 188px;
    display: flex;
    align-self: center;
    flex-wrap: wrap;
  }
}
