.promo {
  margin: 0 auto;
  background-color: #F5F5F5;
  height: 493px;
  max-width: 1200px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .promo {
    max-width: 728px;
    height: 834px;
  }
}

@media screen and (max-width: 320px) {
  .promo {
    max-width: 292px;
    height: 286px;
  }
}
