.about-me__text {
  max-width: 600px;
}

@media screen and (max-width: 1140px) {
  .about-me__text {
    max-width: 380px;
  }
}

@media screen and (max-width: 768px) {
  .about-me__text {
    max-width: 364px;
  }
}

@media screen and (max-width: 700px) {
  .about-me__text {
    max-width: 300px;
  }
}

@media screen and (max-width: 590px) {
  .about-me__text {
    max-width: 220px;
  }
}

@media screen and (max-width: 480px) {
  .about-me__text {
    max-width: 292px;
  }
}
