.header__profile-button {
  height: 32px;
  width: 100px;
  border-radius: 20px;
  border: none;
  background-color: #F9F9F9;
  margin: 0 0 0 50px;
}

.header__profile-button:focus {
  outline: none;
}
