.footer__copyright-text {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  color: #000;
  margin: 0;
}
