.load-more {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .load-more {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .load-more {
    max-width: 320px;
  }
}
