.not-found__link {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FF6838;
  text-decoration: none;
}

@media screen and (max-width) {
  .not-found__link {
    font-size: 12px;
    line-height: 15px;
  }
}
