.block-with-bottom-border {
  max-width: 1140px;
  border-bottom: 1px solid black;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .block-with-bottom-border {
    max-width: 668px;
  }
}

@media screen and (max-width: 320px) {
  .block-with-bottom-border {
    max-width: 284px;
  }
}
