.about-project__interlinear-back {
  height: 36px;
  width: 228px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .about-project__interlinear-back {
    height: 36px;
    width: 140px;
  }
}

@media screen and (max-width: 320px) {
  .about-project__interlinear-back {
    height: 35px;
    width: 100px;
  }
}
