.about-project__duration-front {
  height: 36px;
  width: 912px;
  background: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1140px) {
  .about-project__duration-front {
    width: 528px;
    height: 36px;
  }
}

@media screen and (max-width: 700px) {
  .about-project__duration-front {
    width: 184px;
    height: 35px;
  }
}
