.portfolio__links {
  max-width: 1140px;
}

@media screen and (max-width: 1141px) {
  .portfolio__links {
    width: 668px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__links {
    max-width: 668px;
  }
}

@media screen and (max-width: 700px) {
  .portfolio__links {
    max-width: 568px;
  }
}

@media screen and (max-width: 590px) {
  .portfolio__links {
    max-width: 468px;
  }
}

@media screen and (max-width: 480px) {
  .portfolio__links {
    max-width: 292px;
  }
}
