.not-found__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  color: #000000;
  margin: 246px 0 0 0;
}

@media screen and (max-width: 320px) {
  .not-found__title {
    font-size: 80px;
    line-height: 97px;
  }
}
