.about-project__interlinear-text {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  color: #A0A0A0;
  margin: 14px 0 0 0;
}
