.profile__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
  margin: 0 0 123px 0;
}

@media screen and (max-width: 768px) {
  .profile__title {
    margin: 0 0 96px 0;
  }
}

@media screen and (max-width: 320px) {
  .profile__title {
    margin: 0 0 80px 0;
  }
}
