.footer {
  margin: 0 auto;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .footer {
    background-color: #FFF;
  }
}
