.navtab__link {
  text-decoration: none;
  margin: 0 20px 0 0;
}

.navtab__link:last-of-type {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .navtab__link {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .navtab__link {
    margin: 0 6px 0 0;
  }
}
