.section-title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
  margin: 0 0 23px 0;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 22px;
    line-height: 27px;
  }
}

@media screen and (max-width: 320px) {
  .section-title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 28px 0;
  }
}
