.form__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  margin: 40px 0 20px 0;
  width: 240px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .form__title {
    margin: 40px 0 40px 0;
  }
}

@media screen and (max-width: 440px) {
  .form__title {
    margin: 50px auto 80px auto;
  }
}
