.movie-card {
  background: #FDFDFD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(40px,330px)); */
  grid-template-columns: 290px 74px;
  grid-template-rows: 202px 47px 32px;
  align-items: center;
  justify-content: space-between;
  /* grid-template-rows: repeat(auto-fit, minmax(32px,202px)); */
}
