.about-me__cv {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #000;
  margin: 0 0 99px 0;
}

@media screen and (max-width: 768px) {
  .about-me__cv {
    margin: 0 0 87px 0;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 480px) {
  .about-me__cv {
    margin: 0 0 40px 0;
    font-size: 11px;
    line-height: 16px;
  }
}
