.navtab__text {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: black;
}

@media screen and (max-width: 768px) {
  .navtab__t {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 490px) {
  .navtab__text {
    font-size: 10px;
    line-height: 16px;
    padding: 5px;
  }
}
