.footer__copyright-list {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .footer__copyright-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
