.searchform__icon {
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 50px;
  background: url('../../../images/icon-search.svg');
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  background-position: center;
  padding: 20px;
}

.searchform__icon:focus {
  outline: none;
}

.searchform__icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .searchform__icon {
    display: none;
  }
}
