.navigation__close-button {
  width: 22px;
  height: 22px;
  background: url(../../../images/navigation__close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 22px;
  right: 22px;
  border: none;
}

.navigation__close-button:focus {
  outline: none;
}

.navigation__close-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
