.header__profile-button-text {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #000000;
  margin: 0;
}
