.tech {
  background-color: #F5F5F5;
  padding: 100px 0;
}

@media screen and (max-width: 768px) {
  .tech {
    padding: 90px 0;
  }
}

@media screen and (max-width: 320px) {
  .tech {
    padding: 70px 0;
  }
}
