.about-me__occupation {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #000;
  margin: 0 0 26px 0;
}

@media screen and (max-width: 768px) {
  .about-me__occupation {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 20px 0;
  }
}

@media screen and (max-width: 320px) {
  .about-me__occupation {
    font-size: 11px;
    line-height: 16px;
  }
}
