.form__input {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  border: none;
  background: #F9F9F9;
  border-radius: 8px;
  width: 366px;
  height: 16px;
  padding: 15px;
}

.form__input:focus {
  outline: none;
}

@media screen and (max-width: 440px) {
  .form__input {
    width: 230px;
  }
}
