.about-me__link {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  display: inline-block;
  margin: 0 20px 0 0;
}

.about-me__link:last-of-type {
  margin: 0;
}
