.navigation__account-button {
  width: 100px;
  height: 32px;
  background: #F9F9F9;
  border-radius: 20px;
  border: none;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 620px 0 0 0;
}

.navigation__account-button:focus {
  outline: none;
}

.navigation__account-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
